[package]
name = "megaphone"
version = "0.1.5"
authors = ["jrconlin <me+crypt@jrconlin.com>"]

[dependencies]
diesel = { version = "1.4.3", features = ["mysql", "r2d2"] }
diesel_migrations = { version = "1.4.0", features = ["mysql"] }
failure = "0.1.6"
lazy_static = "1.4.0"
mozsvc-common = "0.1.1"
regex = "1.3.3"
rocket = "0.4.2"
rocket_contrib = "0.4.2"
serde = "1.0.104"
serde_json = "1.0.44"
slog = { version = "2.5.2", features = ["nested-values"] }
slog-async = { version = "2.3.0", features = ["nested-values"] }
slog_derive = "0.2.0"
slog-mozlog-json = "0.1.0"
slog-term = "2.4.2"
# must match the toml (minor) version rocket depends on
toml = "0.4.10"
